@using Elite.EntityLayer.Concreate;
@model Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EliteLayout.cshtml";
}

<div class="page-head_agile_info_w3l">
	<div class="container">
		<h3>Ə<span>laqə </span></h3>
		<!--/w3_short-->
		<div class="services-breadcrumb">
			<div class="agile_inner_breadcrumb">

				<ul class="w3_short">
					<li><a href="index.html">Ana Səhifə</a><i>|</i></li>
					<li>Əlaqə</li>
				</ul>
			</div>
		</div>
		<!--//w3_short-->
	</div>
</div>
<!--/contact-->
<div class="banner_bottom_agile_info">
	<div class="container">
		<div class="contact-grid-agile-w3s">
			<div class="col-md-4 contact-grid-agile-w3">
				<div class="contact-grid-agile-w31">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<h4>Adres</h4>
					<p>Bakı Şəhəri Xarici Dairəvi Yol <span>Tərəqqi Küçəsi 39</span></p>
				</div>
			</div>
			<div class="col-md-4 contact-grid-agile-w3">
				<div class="contact-grid-agile-w32">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<h4>Telefon</h4>
					<p>+994 70 804 80 04<span>+994 51 230 28 68</span></p>
				</div>
			</div>
			<div class="col-md-4 contact-grid-agile-w3">
				<div class="contact-grid-agile-w33">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					<h4>Email</h4>
					<p><a href="mailto:sehrihaciyev@gmail.com">sehrihaciyev@gmail.com</a><span><a href="mailto:sehriyarhaciyev@gmail.com">sehriyarhaciyev@gmail.com</a></span></p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="contact-w3-agile1 map" data-aos="flip-right">

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4972199750623!2d49.794340975943605!3d40.37567137144618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d08bfa56afd%3A0x3c0117a4f2926e93!2zMTYxIHNheWzEsSB0YW0gb3J0YSBtyZlrdMmZYg!5e0!3m2!1str!2saz!4v1688152434978!5m2!1str!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
<div class="banner_bottom_agile_info">
	<div class="container">
		<div class="agile-contact-grids">
			<div class="agile-contact-left">
				<div class="col-md-6 address-grid">
					<h4>Əlavə Məlumat <span>Üçün Əlaqə</span></h4>
					<div class="mail-agileits-w3layouts">
						<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Telefon </p><span>+994 70 804 80 04</span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="mail-agileits-w3layouts">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Mail </p><a href="sehrihaciyev@gmail.com">sehrihaciyev@gmail.com</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="mail-agileits-w3layouts">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Ünvan</p><span>Bakı Şəhəri Xarici Dairəvi Yol Tərəqqi Küçəsi</span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<ul class="social-nav model-3d-0 footer-social w3_agile_social two contact">
						<li class="share">Paylaş : </li>
						<li>
							<a href="#" class="facebook">
								<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							</a>
						</li>
						<li>
							<a href="#" class="twitter">
								<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
							</a>
						</li>
						<li>
							<a href="#" class="instagram">
								<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							</a>
						</li>
						<li>
							<a href="#" class="pinterest">
								<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
								<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 contact-form">
					<h4 class="white-w3ls">Əlaqə  <span>Formu</span></h4>
					<form  method="post">
						<div class="styled-input agile-styled-input-top">
							<input type="text" asp-for="Name" required="">
							<label>Ad Soyad</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="email" asp-for="Mail" required="">
							<label>Email</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="text" asp-for="Phone" required="">
							<label>Telefon</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="text" asp-for="Title" required="">
							<label>Başlıq</label>
							<span></span>
						</div>
					
						<div class="styled-input">
							<textarea asp-for="Description" required=""></textarea>
							<label>Mesajınız</label>
							<span></span>
						</div>
						<input type="submit" value="Göndər">
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

