@model UserRegisterViewModel
<div class="modal-body modal-body-sub_agile">
	<div class="col-md-8 modal_body_left modal_body_left1">
		<h3 class="agileinfo_sign">Qeydiyyatdan <span>Keç</span></h3>
		<form asp-action="SignUp" asp-controller="User" method="post">
			<div class="styled-input agile-styled-input-top">
				<input type="text" name="Name" required="">
				<label>Adınız</label>
				<span></span>
			</div>
			<div class="styled-input agile-styled-input-top">
				<input type="text" name="Surname" required="">
				<label>Soyadınız</label>
				<span></span>
			</div>
			<div class="styled-input agile-styled-input-top">
				<input type="text" name="Username" required="">
				<label>İstifadəçi Adı</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="email" name="Mail" required="">
				<label>Email</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="tel" name="PhoneNumber" required="">
				<label>Nömrəniz</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="text" name="City" required="">
				<label>Şəhər</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="text" name="Adress" required="">
				<label>Ünvan</label>
				<span></span>
			</div>

			<div class="input-group">
			
				<input type="text" class="form-control" aria-label="..." name="Gender">
			</div>
			

			<div class="styled-input">
				<input type="text" name="ImageUrl" required="">
				<label>Şəkil  Link</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="text" name="About" required="">
				<label>Haqqınızda</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="password" name="password" required="">
				<label>Şifrə</label>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="password" name="ConfirmPassword" required="">
				<label>Şifrə Təkrar</label>
				<span></span>
			</div>
			<input type="submit" value="Qeydiyyat">
		</form>
		<ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
			<li>
				<a href="#" class="facebook">
					<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
					<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
				</a>
			</li>
			<li>
				<a href="#" class="twitter">
					<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
					<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
				</a>
			</li>
			<li>
				<a href="#" class="instagram">
					<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
					<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
				</a>
			</li>
			<li>
				<a href="#" class="pinterest">
					<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
					<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
		<p><a href="#">By clicking register, I agree to your terms</a></p>

	</div>
	<div class="col-md-4 modal_body_right modal_body_right1">
		<img src="~/web/images/log_pic.jpg" alt=" " />
	</div>
	<div class="clearfix"></div>
</div>
