@using Elite.EntityLayer.Concreate;
@model Color
@{
    ViewData["Title"] = "ColorAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Rəng Əlavə Et</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">İdarəetmə</a>
            </li>
            <li class="breadcrumb-item">
                Rəng
            </li>
            <li class="breadcrumb-item active">
                <strong>Rəng Əlavə Et</strong>
            </li>
        </ol>
    </div>
</div>
<br />
<br />
<div class="ibox-content">
    @using (Html.BeginForm("ColorAdd", "AdminPruduct", FormMethod.Post))
    {

        <br />
        <label for="validationCustom01">Başlıq</label>
        @Html.TextBoxFor(x=>x.ColorName, new {@class ="form-control"})
        <br />
        <br />
        <button type="submit" id="btn1" class="btn btn-primary submit mb-4">Təsdiqlə</button>

    }

</div>




