@using Elite.EntityLayer.Concreate;
@model List<AppUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>İstifadəçi Siyahısı</h1>

<table class="table table-bordered">
    <tr>
        <th>İstifadəçi  Adı</th>
        <th>Rol Ver</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td><a href="/AdminRole/AssignRole/@item.Id" class="btn btn-warning">Rol Ver</a></td>
        </tr>
    }
</table>

<a href="/AdminRole/Index" class="btn btn-outline-primary">Rollar</a>
